// COLORS
$primary-color: #023E8A;
$secondary-color: #48CAE4;

$white-color: #f7f7f7;

$dark-grey: #1d3557;
$light-grey: #d2d2d2;

$dark-blue-text: #1d3557; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
